.main-ctnr{
    background-color: black;
}
.ctr{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
text-align: center;
}
.crd{
    width: 18rem;
    margin-top: 50px;
    text-align: center;

    &:hover{
        transform: translate(-5px, -5px);
    }
}
